### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html
coverage.txt

# Go workspace file
go.work
go.work.sum

# Dependency directories (remove the comment below to include it)
# vendor/

### IDE and Editor files
.idea
.vscode
*.swp
*.swo
*~

### Don't expose API keys, etc.
.env

# temp file used by Junie
.output.txt

# folder used for programs, e.g. uv, uvx, task, etc.
bin/

# .DS_Store
.DS_Store

# Build artifacts
build/
dist/
*.test
*.prof

# Documentation
_book
_pdoc
_mkdocs
docs/API.md
docs/package-docs.txt

# Makefile
local.mk
